{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Benzak :: {% block title %}XXX{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    {% block head %}{% endblock %}
</head>

<body>

<div align="right">
    <a href="https://github.com/tgrx/benzak">
        <img alt="Fork me on GitHub!" src="https://img.shields.io/github/forks/tgrx/benzak?style=social">
    </a>
</div>

<header>
    {% url 'about' as u_about %}
    {% url 'api_settings' as u_api %}
    {% url 'dynamics' as u_dynamics %}
    {% url 'graphics' as u_graphics %}
    {% url 'login' as u_login %}
    {% url 'logout' as u_logout %}
    {% url 'password_change' as u_password_change %}
    {% url 'signup' as u_signup %}

    <a class="logo" href="{% url 'actual' %}"><span>⛽️</span></a>
    <a href="{{u_dynamics}}"
       class="menu-item{% ifequal request.path u_dynamics %} here{% endifequal %}"><span>ДИНАМИКА</span></a>
    <a href="{{u_graphics}}"
       class="menu-item{% ifequal request.path u_graphics %} here{% endifequal %}"><span>ГРАФИКА</span></a>

    {% if request.user.is_authenticated %}
    <a href="{{u_api}}"
       class="menu-item{% ifequal request.path u_api %} here{% endifequal %}"><span>АПИ</span></a>
    {% endif %}

    <a href="{{u_about}}"
       class="menu-item{% ifequal request.path u_about %} here{% endifequal %}"><span>О ПРОЕКТЕ</span></a>

    {% if request.user.is_authenticated %}
    <a class="menu-item{% ifequal request.path u_password_change %} here{% endifequal %}"
       href="{{u_password_change}}"><span>Сменить пароль️</span></a>
    <a class="menu-item{% ifequal request.path u_logout %} here{% endifequal %}" href="{{u_logout}}"><span>Выйти ({{request.user.email}})️</span></a>
    {% else %}
    <a class="menu-item{% ifequal request.path u_login %} here{% endifequal %}"
       href="{{u_login}}"><span>Войти️</span></a>
    <a class="menu-item{% ifequal request.path u_signup %} here{% endifequal %}"
       href="{{u_signup}}"><span>Вписаться️</span></a>
    {% endif %}

</header>

<h1>{% block page_name%}{% endblock %}</h1>

<div>
    {% block content %}{% endblock %}
</div>
</body>

</html>
