{% extends "base.html" %}

{% load static %}

{% block title %}Dynamics{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/pricebox.css' %}"/>
{% endblock %}

{% block page_name %}ДИНАМИКА{% endblock %}

{% block content %}

<form id="dynamics" method="POST" action="{% url 'dynamics' %}">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Узнать</button>
</form>

<div>

    {% for fuel, prices in object_list %}

    <div class="pricebox" style="background-color: {{fuel.color}}">
        <div class="pricebox-logo"><span>{{fuel.short_name}}</span></div>
        <div class="pricebox-prices">
            <ul>
                {% for price in prices %}
                <li class="li-{{price.currency.name | lower}}">{{price.price | floatformat:-2 }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% endfor %}

</div>

{% endblock %}
