{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block page_name %}СЕЙЧАС{% endblock %}

{% block content %}

{% for fuel, prices in actual %}

<div class="pricebox" style="background-color: {{fuel.color}}">
    <div class="pricebox-logo"><span>{{fuel.short_name}}</span></div>
    <div class="pricebox-prices">
        <ul>
        {% for price in prices %}
        <li class="li-{{price.currency.name | lower}}">{{price.price | floatformat:-2 }}</li>
        {% endfor %}
        </ul>
    </div>
</div>

{% endfor %}

{% endblock %}
