{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block page_name %}СЕЙЧАС{% endblock %}

{% block content %}

{% for fuel, data in prices %}

<div class="pricebox" style="background-color: {{data.color}}">
    <div class="pricebox-logo"><span>{{fuel}}</span></div>
    <div class="pricebox-prices">
        <ul>
        {% for price in data.prices %}
        <li class="li-{{price.sign}}">{{price.value | floatformat:-2 }}</li>
        {% endfor %}
        </ul>
    </div>
</div>

{% endfor %}

{% endblock %}
