[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
ipython = "*"
pudb = "*"

[packages]
dj-database-url = "*"
django = "*"
dynaconf = {extras = ["yaml"],version = "*"}
gunicorn = "*"
psycopg2 = "*"
whitenoise = "*"

[requires]
python_version = "3.7"
