[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
httpie = "*"
ipython = "*"
pudb = "*"

[packages]
dj-database-url = "*"
django = {extras = ["bcrypt"],version = "*"}
djangorestframework = "*"
dynaconf = {extras = ["yaml"],version = "*"}
gunicorn = "*"
psycopg2-binary = "*"
whitenoise = "*"

