{% extends "base.html" %}

{% block title %}Dynamics{% endblock %}

{% block page_name %}ДИНАМИКА{% endblock %}

{% block content %}

<form id="dynamics">
    <div>
        <label for="at">День:</label>
        <input type="date" id="at" name="at" value="2019-01-13">
    </div>

    <div>
        <label for="currency">Валюта:</label>
        <select id="currency" name="currency">
            <option value="byn">BYN</option>
            <option value="usd">USD</option>
            <option value="eur">EUR</option>
            <option value="rub">RUB</option>
        </select>
    </div>
</form>

{% endblock %}
