{% extends "base.html" %}

{% block title %}Dynamics{% endblock %}

{% block page_name %}ДИНАМИКА{% endblock %}

{% block content %}

<form id="dynamics">
    <div>
        <label for="at">День:</label>
        <input type="date" id="at" name="at" value="2019-01-13">
    </div>

    <div>
        <label for="currency">Валюта:</label>
        <select id="currency" name="currency">
            {% for c in currency %}
            <option value="{{c.name}}">{{c.name}}{% if c.symbol %} - {{c.symbol}}{% endif %}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="fuel">Топливо:</label>
        <select id="fuel" name="fuel">
            {% for f in fuels %}
            <option value="{{f.short_name}}">{{f.name}}</option>
            {% endfor %}
        </select>
    </div>
</form>

{% endblock %}
