{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block page_name %}О ПРОЕКТЕ{% endblock %}

{% block content %}

<p><a href="{% url 'admin:index' %}">Управление сайтом</a></p>

<h2>Серьёзная аналитика цен на бензин</h2>

<p>Используемые технологии:</p>

<ul style="list-style: initial; padding-left: 40px">
    {% for tech in technologies %}
    <li>
        {% if tech.url %}
            <a href="{{tech.url}}">
        {% endif %}
            {{tech.name}}
        {% if tech.url %}
            </a>
        {% endif %}
    </li>
    {% endfor %}
</ul>



{% endblock %}
