{% extends "base.html" %}

{% block title %}Graphics{% endblock %}

{% block page_name %}ГРАФИКА{% endblock %}

{% block content %}

<h1 style="color:orange">в процессе</h1>

{% if 0 %}
<form id="graphics">
    <div>
        <label for="day_from">С:</label>
        <input id="day_from" name="day_from" type="date" value="2019-01-13">
    </div>

    <div>
        <label for="day_to">По:</label>
        <input id="day_to" name="day_to" type="date" value="2019-09-11">
    </div>

    <div>
        <label for="currency">Валюта:</label>
        <select id="currency" name="currency">
            <option value="byn">BYN</option>
            <option value="usd">USD</option>
            <option value="eur">EUR</option>
            <option value="rub">RUB</option>
        </select>
    </div>
</form>
{% endif %}

{% endblock %}
